@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    height: 90%;
    margin-top: 20px;

}

#projects {
    height: 100%;
    float: left;
    width: 20%;
    background-color: #FFFFFF;
}

#tasks {
    margin-right: 30px;
    height: 100%;
    float: right;
    width: 75%;
    background-color: #FFFFFF;
}

a {
    color: black;
}

a:hover {
    color: black;
}

nav {
    background: #FFE4C4;
    color: black;
}

img.design_guru {
    height: 35%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}