<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/index.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<!-- header block -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="img/img3.png" width="35" height="35">
            <a class="navbar-brand nav-link" href="#">To do list</a>
        </div>
        <ul class="nav nav-inline">
            <li class="nav-item">
                <button type="button" class="add_task btn">Add task</button>
            </li>
            <li class="nav-item">
                <button type="button" class="add_project btn">Add project</button>
            </li>
            <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="content">
    <!--project block-->
    <div class="projects">
        <table class="projects_table table table-striped">
            <tr>
                <th>Projects:<img src="img/img4.png" align="right" width="35" height="35"></th>
            </tr>
        </table>
    </div>

    <!--table with tasks-->
    <div id="tasks">
        <table class="tasks table table-striped">
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Deadline</th>
                <th><img src="img/img4.png" align="right" width="35" height="35"></th>
            </tr>
        </table>
    </div>
</div>


<!--<div class="new_task_form">-->
<!--<form>-->
<!--<div class="form-group">-->
<!--Title: <input type="text" name="title" id="task_title"><br>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--Description: <input type="text" name="description" id="task_description"><br>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--&lt;!&ndash;Project: <input type="text" class="project_name" id="project_name">&ndash;&gt;-->
<!--</div>-->
<!--<div class="form-group">-->
<!--End date: <input type="date" id="deadline" name="deadline"-->
<!--value="2018-07-29"-->
<!--min="2018-01-01" max="2018-12-31"/>-->
<!--</div>-->
<!--<input type="button" value="close" class="close_task_form btn">-->
<!--<input type="submit" value="submit" id="submit_task_form" class="btn">-->
<!--</form>-->
<!--</div>-->

<div class="new_project_form">
    <form>
        <div class="form-group">
            Project title: <input type="text" name="title" id="title"><br>
        </div>
        <input type="button" value="close" class="close_project_form btn">
        <input type="submit" value="submit" id="submit_project_form" class="btn">
    </form>
</div>
</body>
</html>